*{
    font-family: 'Courier New', Courier, monospace;
}
.hidden{display: none!important;}

input[type="text"]{
    height: 25px;
    border: 1px solid #ccc;
}

input[type="button"]{
    border-radius: 3px;
    background: yellowgreen;
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 10px;
}

#addProduct > div{
    display: inline-block;
    padding: 20px;
    background: lavender;
    border-radius: 3px;
    margin-bottom: 20px;
}

table{
    width: 600px;
}
table tr:nth-child(odd){
    background-color: lavender;
}
table td{
    padding: 10px;
}
table tr > td:not(:nth-child(2)){
    text-align: center;
}